.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(228, 198, 219, 1);
}

.overlay .heart {
  width: 50vw;
  height: 50vw;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10vw 10vw 90vw rgba(242, 0, 68, 0.5);
  animation: heart 0.6s linear infinite;
}

.overlay .heart:before {
  content: '';
  position: absolute;
  width: 50vw;
  height: 50vw;
  background: #f20044;
  top: -50%;
  border-radius: 30vw;
}

.overlay .heart:after {
  content: '';
  position: absolute;
  width: 50vw;
  height: 50vw;
  background: #f20044;
  right: -50%;
  border-radius: 30vw;
}

@keyframes heart {
  0%, 100% {
    transform: rotate(-45deg) scale(1);
  }
  50% {
    transform: rotate(-45deg) scale(1.07);
  }
}

.container{
  width: 100%;
  height: 100%;
  background: #fbf9fa;
  position: fixed;
  top: 0;
  left: 0;
  img{
    margin-top: 30vw;
    width: 100%;
  }
  .sentence {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 20px;
    color: #d367ac;
    font-weight: bold;
    font-family: Cursive, sans-serif;
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .button {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.5rem;

    &:first-child {
      background: pink;
      border: 2px solid pink;
    }

    &:nth-child(2) {
      background: transparent;
      color: pink;
      border: 2px solid pink;
    }
  }
}
//.container {
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 100%;
//  margin-top: 25vw;
//  text-align: center;
//  background: linear-gradient(#dab2b4, #c1d2ce) !important;
//}
//
//.centered {
//  display: block;
//  margin: 0 auto;
//  max-width: 80%;
//  height: auto;
//}
//
//.sentence {
//  font-size: 1.7rem;
//  margin-top: 20px;
//  color: #d367ac;
//  font-weight: bold;
//  font-family: Cursive;
//}
//
//.buttons {
//  margin-top: 20px;
//}
//
//.button {
//  font-size: 1.5rem;
//  padding: 10px 20px;
//  margin: 10px;
//  cursor: pointer;
//  transition: all 0.3s ease;
//  border-radius: 0.5rem;
//
//  &:first-child {
//    background: pink;
//    border: 2px solid pink;
//  }
//
//  &:nth-child(2) {
//    background: transparent;
//    color: pink;
//    border: 2px solid pink;
//  }
//}
